.col-sm-12
	section.main-sec

		article.hello-block
			.title-block
				h1 Home to everyone's best life
				h2 Think on the topics and get inspiration
			.do-block.get-insp-btn
				a(href="#")	Get started

		artical.topics-block
			ul
					li
						a(href="#") I'm
					li
						a(href="#") Cash
					li
						a(href="#") Habitat
					li
						a(href="#") Web Dev
					li
						a(href="#")	Beauty
					li
						a(href="#") and etc.

		artical.habit-block
			h2 What the future can be if we .. .
			ul
				li
					a(href="#") The Venus Project
				li
					a(href="#")	Your Location			