.login-block
    form.form-signup(id="LoginIn" name="vm.loginForm" novalidate)
        h2.form-signup-heading Log In
        h4.form-signup-heading Please Welcome!

        p(ng-show="vm.loginForm.email.$error.authError") We sorry! You can try again.

        label(for="inpEmail" class="") Email
        input(ng-model="vm.data.email" ng-required="true" type="email" id="inpEmail" name="email" class="form-control" placeholder="Your Email" )

        label(for="inpPass" class="") Password
        input(ng-model="vm.data.password" ng-required="true" type="password" id="inpPass" name="password" class="form-control" placeholder="Your Password")


        .checkbox
            label
            input(type="checkbox" value="remember-me")
            | Remember me

        button.btn.btn-lg.btn-primary.align-items-end.btn-block(ng-click="vm.login()") LogIn

