.sign-up-block
    form(id="signUp" name="vm.signupForm" ng-submit="vm.signup()" novalidate)
        h2.form-signup-heading Sig Up Page
        h4.form-signup-heading Please Welcome!


        div.signupErrors
            div(ng-show="vm.signupForm.email.$dirty" ng-messages="vm.signupForm.email.$error")
                p(class="text-danger" ng-message="required") Field is required
                p(class="text-danger" ng-message="email") Wrong email format

            div(ng-show="vm.signupForm.password.$dirty" ng-messages="vm.signupForm.password.$error")
                p(class="text-danger" ng-message="required") Field is required
                p(class="text-danger" ng-message="password") Wrong password format

            div(ng-show="vm.signupForm.pconfirm.$dirty" ng-messages="vm.signupForm.pconfirm.$error")
                p(class="text-danger" ng-message="required") Field is required
                p(class="text-danger" ng-message="pwdmatch") Wrong, passwords must be equal     
        
        label(for="inpEmail" class="") Email
        input(ng-model="vm.data.email" ng-required="true" type="email" id="inpEmail" name="email" class="form-control" placeholder="Your Email" )

        label(for="inpPass" class="") Password
        input(ng-model="vm.data.password" ng-required="true" type="password" id="inpPass" name="password" class="form-control" placeholder="Your Password")

        label(for="inpPass2" class="") Password Confirm
        input(ng-model="vm.data.passConf" ng-required="true" pwd-dir="vm.data.password" type="password" id="inpPassConf" name="pconfirm" class="form-control" placeholder="Your Password Again")
        

        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign Up Me
