
<div class="login-block">
  <form id="LoginIn" name="vm.loginForm" novalidate="novalidate" class="form-signup">
    <h2 class="form-signup-heading">Log In</h2>
    <h4 class="form-signup-heading">Please Welcome!</h4>
    <p ng-show="vm.loginForm.email.$error.authError">We sorry! You can try again.</p>
    <label for="inpEmail">Email</label>
    <input ng-model="vm.data.email" ng-required="true" type="email" id="inpEmail" name="email" placeholder="Your Email" class="form-control"/>
    <label for="inpPass">Password</label>
    <input ng-model="vm.data.password" ng-required="true" type="password" id="inpPass" name="password" placeholder="Your Password" class="form-control"/>
    <div class="checkbox">
      <label></label>
      <input type="checkbox" value="remember-me"/>Remember me
    </div>
    <button ng-click="vm.login()" class="btn btn-lg btn-primary align-items-end btn-block">LogIn</button>
  </form>
</div>