.col-sm-12

	header
		.col-sm-3
			.logo.logo-head
				a(href="index.html") Logo

		.col-sm-9
			nav
				ul
					li
						a(href="#"): span lal
					li
						a(href="#"): span lal
					

