.col-sm-12
	footer

		.col-sm-3
			.logo.logo-footer
				a(href="index.html") Logo

		.col-sm-3
			h3 ABOUT US

			p wasGood is a photo, ideas, learning community for discovering in your life a good moments and inspiring photography powered by creative people worldwide.

			p Made with a <a href="#"> code </a> obtained from a plurality of spaces.


		.col-sm-3
			h3 SOCIAL

			ul
				li
					a(href="https://plus.google.com/116549234742629128888") Google+
				li
					a(href="https://vk.com/vasilkovdd") Vk
				li
					a(href="https://twitter.com/vasilkooov") Twitter


		.col-sm-3
			h3 Other

			p ...